<h4><%= @board.name %> Board</h4>

<% if @board.lists.any? %>
  <% @board.lists.each do |list| %>
    <%= render partial: "list", locals: {list: list} %>
  <% end %>
<% else %>
  <%= link_to "Add a Column!" %>
<% end %>
